* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    
}

body {
    background-color: #fafafa;
    transition: background 0.2s linear;
}

.centered-object {
    /* Definir as dimensões do objeto centralizado */
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* CSS do dark mod */
 .div-chk {
    max-width: 600px;
    padding: 40px;
    
 }

body.dark {
    background: #222c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;
    
    transform: translateX(0px);
    transition: transform 0.2 linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: rgba(23, 20, 212, 0.877);
}

.fa-sun {
    color: #f1a222;
}


/* CSS do header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 500px;
}

nav h1 {
    color: rgb(0, 119, 255);
}

.title h1,
.title h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 2.2rem;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

/* CSS do Boutton */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
   }

.btn a {
    text-decoration: none;
    color: white;
}
   
   .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }

/* CSS SORBE MIM */
.banner {
    background-color: #39a2db;
    margin: 20px;
    padding: 10px;
    padding-left: 10px;
    margin-left: 70rem;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.banner h2 {
    font-size: 1.1rem;
    font-weight: 200;
}